<div class="float-right">
  <a routerLink="/admin/pessoas/cadastrar" class="btn btn-primary">Cadastrar</a>
</div>
<h1>Pessoas</h1>
<hr>
<table class="table mt-1 table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoas$ | async">
      <td>
        {{pessoa.id}}
      </td>
      <td>
        {{pessoa.nome}}
      </td>
      <td>
        {{pessoa.email}}
      </td>
      <td>
        <div class="mt-2">
          <a class="btn btn-success btn-sm" [routerLink]="['editar', pessoa.id]">Editar</a> |
          <button type="button" class="btn btn-danger btn-sm" (click)='excluir(pessoa.id)'>Excluir</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>