<h1>Cadastrar pessoa</h1>
<br>
<form class="mt-1" #cadastro="ngForm" (submit)="salvar()">
  <div *ngIf="salvar_ok" class="alert alert-success">
    Pessoa salva com sucesso!
  </div>
  <div *ngIf="salvar_erro" class="alert alert-warning">
    Não foi possível salvar a pessoa. Tente novamente dentro de instantes.
  </div>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" name="nome" id="nome" [(ngModel)]="nome" required>
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email" required>
  </div>
  <div>
    <button class="btn btn-primary">Salvar</button>
  </div>
</form>